@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";

  --color-jasmine: #ffdf88;
  --color-moss: #546b41;
  --color-deep-forest: #40513b;
  --color-sage: #99ad7a;
  --color-tan: #dcccac;
  --color-cream: #fff8ec;
  --color-pear: #f0fabf;
  --color-obsidian: #1b211a;
  --color-frost: #fbf6f6;
  --color-scarlet: #cf0f0f;
  --color-amber: #ffde42;
}
